.about {
    .about-name {
        color: nth($colors, 3);
        font-weight: 700;
        font-size: nth($sizes-1, 5);
    }

    .about-info {
        margin-bottom: 120px;
        padding: nth($sizes-1, 5);
        background-color: #F9F9F9;
        box-shadow: 0px nth($sizes-1, 1) nth($sizes-1, 2) 0px #00000014;

        h3 {
            color: nth($colors, 3);
            font-weight: 700;
            line-height: 1.5;
            font-size: nth($sizes-1, 4);
        }

        p {
            font-size: nth($sizes-1, 3);
            color: nth($colors, 4);
            line-height: 1.5;
        }
    }
}