#banner {
    height: 460px;
    background-color: nth($colors, 8);

    >div {
        height: 100%;
    }

    .bannerTitle {
        width: 670px;
        height: 192px;
        margin-bottom: nth($sizes-1, 4);
        position: relative;

        h1 {
            font-size: nth($sizes-1, 4);
            color: nth($colors, 2);
            line-height: 150%;
            font-weight: 400;
        }
    }

    .topIcon,
    .bottomIcon {
        padding: 15px 11.05px;
        width: 72px;
        height: 72px;
    }

    .topIcon {
        left: 0;
        top: 0;
    }

    .bottomIcon {
        right: 0;
        bottom: 0;
    }

    .titleMark {
        background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: bottom;
        white-space: nowrap;
    }

    .itemGroup {
        width: 298px;
        padding: 0 nth($sizes-2, 2);
        padding-bottom: nth($sizes-2, 2);

        * {
            font-size: nth($sizes-1, 3);
            font-weight: 400;
        }

        .itemTitle {
            color: nth($colors, 4);
            position: relative;
        }

        .itemTitle::after {
            content: "";
            width: 24px;
            border-bottom: 2px solid;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }

        .itemContent {
            color: nth($colors, 3);
        }
    }

    @media (max-width:767px) {
        .bannerTitle {
            padding-top: nth($sizes-1, 10);
            width: 300px;

            h1 {
                font-size: nth($sizes-2, 2);
            }
        }

        .topIcon {
            left: 50%;
            transform: translateX(-50%);
        }

        .bottomIcon {
            display: none;
        }
    }
}

#productList {
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;


    .productItem {
        max-width: 636px;
        margin: nth($sizes-2, 4) 12px;
    }

    .prductImage {
        height: 400px;
        overflow: hidden;
        margin-bottom: nth($sizes-1, 2);
        border-radius: nth($sizes-1, 2);

        >img {
            height: 100%;
        }
    }

    .productName {
        margin: nth($sizes-1, 2) nth($sizes-1, 3);
        margin-bottom: nth($sizes-1, 1);

        >h3 {
            margin: 0;

            a {
                color: nth($colors, 3);
                font-size: 28px;
                font-weight: 700;
            }
        }

    }

    .productDesc {
        margin: nth($sizes-1, 1) nth($sizes-1, 3);
        margin-bottom: nth($sizes-1, 2);

        >p {
            margin: 0;

            a {
                color: nth($colors, 5);
                font-size: nth($sizes-1, 3);
                font-weight: 400;
            }
        }

    }

    .productTagList {
        padding: 0;
        margin: nth($sizes-1, 3);
        margin-top: 0;

        .productTagItem {
            margin-top: nth($sizes-1, 3);
        }

        .productTagItem>p {
            background-color: nth($colors, 7);
            border-radius: 16px;
            padding: nth($sizes-1, 1) 12px;
            margin: 0;
            margin-right: nth($sizes-1, 3);
            white-space: nowrap;

            a {
                color: nth($colors, 3);
                font-size: nth($sizes-1, 3);
                font-weight: 400;
            }
        }
    }

    @media (max-width:767px) {

        .prductImage {
            height: auto;
            width: 100%;
            overflow: hidden;
            margin-bottom: nth($sizes-1, 2);
            border-radius: nth($sizes-1, 2);

            >img {
                width: 100%;
            }
        }
    }
}

#productList::after {
    content: '';
    width: 636px;
    margin: nth($sizes-2, 4) 12px;
}

#produtTabList {
    p {
        margin: 0;
    }

    ul {
        margin-top: nth($sizes-1, 8);
        margin-bottom: 120px;
        padding: 0;
    }

    .productTabItem {
        width: nth($sizes-2, 4);
        height: nth($sizes-2, 4);
        border-radius: nth($sizes-1, 1);
        margin: 0 nth($sizes-1, 2);
        text-align: center;
        cursor: pointer;
        transition: 0.5s;

        p {
            font-size: nth($sizes-1, 4);
            line-height: 36px;
            color: nth($colors, 3);
        }
    }

    .productTabItem.action,
    .productTabItem:hover {
        background-color: nth($colors, 1);

        p {
            color: nth($colors, 9);
        }

    }
}